extends layout

block content
    
    h1 Thumbnail Gallery
    
    div#gallery
        each image in images
            div.image
             a(href="/gallery/#{image.slice(47)}")
                img(src="#{image}").thumbnail
      
  
    
            