extends layout

block content
  img#landing-page(src="https://s3-us-west-1.amazonaws.com/benjaminadk/uploader-landing.svg")
  hr
  h2 Documentation
  h4.subheader *This is a Demo App for Learning  
  h4 User Story
  ul
    li As a User I have to signup to access the application
    li As a User I can signup and create a profile that includes my name, email and password
    li As a User I can login and logout of the application
    li As a User I can upload images to my own folder in an AWS S3 Bucket
    li As a User I can view those images in the app, on a Gallery page
    li As a User I can view a full page size image on a separate page for each image
    li As a User I can set a profile pic that persists though logout/shutdown processes
    
