extends layout

block content
    h1 Settings
    if images
        label(for='profile-pic') Set a Profile Pic
        select#profile-pic(name='profile-pic')
            each image in images
                option(value= image.url)= image.url.slice(47)
    br
    button#set-profile-pic.button Set Profile Pic
    
   
    script.
        var picSelect = document.getElementById('profile-pic');
        var picButton = document.getElementById('set-profile-pic');
        var email = email;
        console.log(email)
        function setProfilePic(){
            var pic = JSON.parse(localStorage.getItem("Uploader"));
            var url = pic.profilePic;
            var target = document.getElementById('nav-profile-pic');
            target.setAttribute('src',url);
            console.log(pic);
        }
        picButton.addEventListener('click', function(){
            var picUrl = picSelect.value;
            var obj = {"profilePic": picUrl};
            var obj2 = JSON.stringify(obj);
            console.log(picUrl);
            localStorage.setItem("Uploader",[obj2]);
            setProfilePic();
        })
      
      