#login-wrapper {
    position: relative;
    left: 37.5%;
    margin-top: 15vh;
    #login {
        width: 25vw;
        height: 35vh;
    }
}

#error-login{
        display: flex;
        justify-content: center;
        align-items: center;
    }