#meta-results-wrapper {
    pre {
        background: lighten($black,12%);
        color: $white;
        padding: 1px 5px;
    }
    .blue {
        color: $blue;
    }
    .green {
        color: $green;
    }
    .beige {
        color: $beige;
    }
}
#metatag-wrapper {
    .accordion-item{
        .accordion-title {
            background: $black;
        }
        a {
            color: $white;
            &:hover{
                color: $lightblue;
            }
        }
        .accordion-content {
            a {
                color: $lightblue;
                &:hover {
                    color: darken($lightblue, 20%);
                    text-decoration: underline;
                }
            }
        }
    }
  
}

#my-accordion {
  
   
}
