a,a:visited {
        color: $white;    
    }
    
a:hover {
    color: $lightblue;
}

.nav-link {
    margin: 0 1vw;
}

#user {
    margin: 0 1vw 0 0;
}

#nav-profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}